* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "poppins", sans-serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    /* background-color: #dadada; */
}

.personal-info-container {
    /* background-color: aqua; */
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 80px;
}

.name-container {
    font-size: 6vmax;
}

.expense-container {
    /* background-color: tomato; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.expense-container .add-expences-container,
.history-container {
    /* background-color: blanchedalmond; */
    width: 50%;
    height: 100%;
    text-align: center;
}

.history-container {
    width: 65%;
    border: 1px solid #656565;
    border-radius: 10px;
}

.history-container h1 {
    text-decoration: underline;
}

.history-container .history-ul {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90%;
}

.history-ul li {
    display: flex;
    justify-content: space-between;
    padding: 6px 7px;
    width: 90%;
    align-items: center;
    border: solid 0.7px #656565;
    border-radius: 6px;
    background-color: #dadada;
}

.history-ul .show-info {
    width: 65%;
    /* background-color: aqua; */
    font-weight: bold;
}

.history-ul .show-money {
    width: 20%;
    margin-right: 8px;
}

.delete-entry {
    width: 15%;
}
.expense-container .expense-form {
    border-radius: 10px;
    border: 4.5px solid #c43a3a;
    background-color: #dadada;
}

.expense-container .expense-form .button-container {
    margin-bottom: -20px;
    display: flex;
    gap: 10px;
}

.info-form {
    opacity: 0;
    transition: all 1s ease-in-out;
}
